## Verification tips

If you need to create a virtual environment, use the `.venv` folder, like:

```
python -m venv .venv
```

When you have updated packages, make sure you can install them successfully in the virtual environment.
To decide what command to use to install the packages, check the repo's README.md and GitHub Actions workflows in the `.github/workflows` directory.

Leave a comment on the PR indicating what command you used to verify successful installation.